{% extends 'main.html' %}



{% block body %}


    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/salle.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Galerie</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'aydcs_app:home' %}">Acceuil <i class="ion-ios-arrow-forward"></i></a></span> <span>Galerie <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
	</section>
	
	<section class="ftco-section testimony-section">
		<div class="container">


		</div>
	  </section>

	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/pht.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/pht.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/t2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/t2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/p33.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/p33.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/r33.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/r33.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/5.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/6.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/7.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/7.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/8.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/8.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/9.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/9.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/10.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/10.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/11.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/11.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/12.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/12.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/13.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/13.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/aydcs/14.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/aydcs/14.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
	</section>

	<section class="ftco-section testimony-section">
		<div class="container">


		</div>
	  </section>

{% endblock body %}