{% extends 'main.html' %}



{% block body %}

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(/static/images/bg_1.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">Centre De Langues Et Soutien Scolaire</h1>
            <p>Tous Niveaux Toutes Matieres, Beneficiez D'une Sceance Gratuit ?</p>
            <p><a href="{% url 'aydcs_app:cours' %}" class="btn btn-primary px-4 py-3 mt-3">Beneficiez !</a></p>
          </div>
        </div>
        </div>
      </div>

      <div class="slider-item" style="background-image:url(/static/images/bg_2.jpg);">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate">
            <h1 class="mb-4">AYDCS Centre</h1>
            <p>Centre De Langues Et Soutien Scolaire, Plus D'info ?
				<br />
				Inscription Ouvertes <script>document.write(new Date().getFullYear());</script> / <script>document.write(new Date().getFullYear()+1);</script>
			</p>
            <p><a href="{% url 'aydcs_app:contact' %}" class="btn btn-primary px-4 py-3 mt-3">Nous Contactez</a></p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-teacher"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Enseignants</h3>
                <p>Nos Enseignants Ont Une Experience Dans Les Etablisements Public Et Privé</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Enseignement</h3>
                <p>AYDCS A Comme But De Former Ses Eleves Au Sein D'un Environement Educative</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">E-Librairies</h3>
                <p>Une Portail Electronique Pleine De Livres Pour Ses Etudiants A Venir</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Formations</h3>
                <p>Formations Certifiee Du Centre AYDCS Dans Plusieur Langues .</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
						<div class="img" style="background-image: url(/static/images/affiche.jpg); margin-top: 5%; margin-bottom: 5%; height: auto;"></div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
          	<h2 class="mb-4">Notre Services</h2>
						<p>Acquérir Un Bon Espace D'étudier Et D'enseignemet à Nos Etudiants Est Notre Priorité</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text pl-3">
										<h3>Sécurité Des Elèves</h3>
										<p>Nous Prenons Ont Serieux La Sécurité Des Etudiants.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text pl-3">
										<h3>Séances Reguliere</h3>
										<p>Les Séances Programmée Sont Reguliere</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text pl-3">
										<h3>Nos Enseignant</h3>
										<p>AYDCS CENTER A Une Equipe D'enseignant Avec Une Grande Experience.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text pl-3">
										<h3>Les Salles D'etudes</h3>
										<p>AYDCS CENTER A Plus De 14 Salles D'etudes .</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(/static/images/salle.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" style="background-image: url(/static/images/aydcs2.jpg);">
    					<div class="video justify-content-center">
								
							  
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
			<h2 class="mb-4">AYDCS CENTER</h2>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			
          </div>
        </div>	
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="33">0</strong>
		                <span>Enseignants</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="401">0</strong>
		                <span>Eleves</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="15">0</strong>
		                <span>Matieres</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>

	<section class="ftco-section testimony-section">
		<div class="container">
		  <div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			  <h2 class="mb-4">Temoingnage De Nos Elèves</h2>
			  <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
			</div>
		  </div>
		  <div class="row ftco-animate justify-content-center">
			<div class="col-md-12">
			  <div class="carousel-testimony owl-carousel">
				<div class="item">
				  <div class="testimony-wrap d-flex">
					<div class="user-img mr-4" style="background-image: url(/static/images/teacher-1.jpg)">
					</div>
					<div class="text ml-2">
						<span class="quote d-flex align-items-center justify-content-center">
						<i class="icon-quote-left"></i>
					  </span>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					  <p class="name">Racky Henderson</p>
					  <span class="position">Father</span>
					</div>
				  </div>
				</div>
				<div class="item">
				  <div class="testimony-wrap d-flex">
					<div class="user-img mr-4" style="background-image: url(/static/images/teacher-2.jpg)">
					</div>
					<div class="text ml-2">
						<span class="quote d-flex align-items-center justify-content-center">
						<i class="icon-quote-left"></i>
					  </span>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					  <p class="name">Henry Dee</p>
					  <span class="position">Mother</span>
					</div>
				  </div>
				</div>
				<div class="item">
				  <div class="testimony-wrap d-flex">
					<div class="user-img mr-4" style="background-image: url(/static/images/teacher-3.jpg)">
					</div>
					<div class="text ml-2">
						<span class="quote d-flex align-items-center justify-content-center">
						<i class="icon-quote-left"></i>
					  </span>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					  <p class="name">Mark Huff</p>
					  <span class="position">Mother</span>
					</div>
				  </div>
				</div>
				<div class="item">
				  <div class="testimony-wrap d-flex">
					<div class="user-img mr-4" style="background-image: url(/static/images/teacher-4.jpg)">
					</div>
					<div class="text ml-2">
						<span class="quote d-flex align-items-center justify-content-center">
						<i class="icon-quote-left"></i>
					  </span>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					  <p class="name">Rodel Golez</p>
					  <span class="position">Mother</span>
					</div>
				  </div>
				</div>
				<div class="item">
				  <div class="testimony-wrap d-flex">
					<div class="user-img mr-4" style="background-image: url(/static/images/teacher-1.jpg)">
					</div>
					<div class="text ml-2">
						<span class="quote d-flex align-items-center justify-content-center">
						<i class="icon-quote-left"></i>
					  </span>
					  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					  <p class="name">Ken Bosh</p>
					  <span class="position">Mother</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
  



	<section class="ftco-section testimony-section">
		<div class="container">


		</div>
	  </section>
  



		<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/pht.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/pht.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/t2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/t2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/p33.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/p33.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="/static/images/r33.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/static/images/r33.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>

		
{% endblock body %}